@using Microsoft.AspNetCore.Http
@using Dominio;
@model IEnumerable<Dominio.Agenda>;

<h1>Agendas</h1>


<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nombre de la actividad</th>
        <th>Fecha de la actividad</th>
        <th>Lugar de la actividad</th>
        <th>Costo</th>
        <th>Estado</th>
        <th>Proveedor</th>
        <th>Confirmar</th>
    </tr>


    @if (ViewBag.Rol == "Huesped")
    {
        @foreach (Agenda item in Model)
        {
            <tr>
                <td>@item.Huesped.Nombre</td>
                <td>@item.Huesped.Apellido</td>
                <td>@item.Actividad.Nombre</td>
                <td>@item.Actividad.Fecha.ToString("d")</td>
                @if (item.Actividad.GetTipo() == "Hostal")
                {
                    <td>@item.Actividad.ObtenerLugar()</td>
                }
                else
                {
                    <td>-</td>
                }
                @if (item.Costo > 0)
                {
                    <td>@item.Costo</td>
                }
                else
                {
                    <td>Actividad gratuita</td>
                }
                <td>@item.EstadoAgenda</td>

                @if (item.Actividad.GetTipo() == "Tercerizada")
                {
                    <td>@item.Actividad.ObtenerNombreProveedor()</td>
                }
                else
                {
                    <td>-</td>
                }

            </tr>
        }
    }
    else
    {
        @foreach (Agenda item in Model)
        {
            @if (item.EstadoAgenda == EstadoAgenda.PendientePago)
            {
                ViewBag.flag = true;
                <tr>
                    <td>@item.Huesped.Nombre</td>
                    <td>@item.Huesped.Apellido</td>
                    <td>@item.Actividad.Nombre</td>
                    <td>@item.Actividad.Fecha.ToString("d")</td>
                    @if (item.Actividad.GetTipo() == "Hostal")
                    {
                        <td>@item.Actividad.ObtenerLugar()</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    @if (item.Costo > 0)
                    {
                        <td>@item.Costo</td>
                    }
                    else
                    {
                        <td>Actividad gratuita</td>
                    }
                    <td>@item.EstadoAgenda</td>

                    @if (item.Actividad.GetTipo() == "Tercerizada")
                    {
                        <td>@item.Actividad.ObtenerNombreProveedor()</td>
                    }
                    else
                    {
                        <td>-</td>
                    }

                    <td>@Html.ActionLink("Confirmar Agenda", "Edit", "Agenda", new {id = item.Id})</td>

                </tr>
            }
        }
    }

    @if (Model.Count() == 0 || ViewBag.flag == false)
    {
        @ViewBag.msg
    }
</table>